/*//////////////////////////////////////////////////////////////////////////////////////////////*/
/* result //////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////*/

#iresult-container{top:65%; left: 55%; position:absolute; z-index:999999;}

#iresult-container iframe{border:none !important; vertical-align:top; z-index:20;}

#iresult-iframe-result{display:none; height:400px; margin:-10px 0 0 10px; width:500px;}